<div>
  <p>我是zorror-btnCOMPONENT</p>

  
  <button id="button" nz-button (click)="login()">登录</button>
  <button id="button" nz-button (click)="emmitTest()">emmitAlert</button>
  <button id="button" nz-button (click)="emmitTest02()">emmitAlert02</button>
  <button id="button" nz-button (click)="emmitTest03()">emmitAlert03传递值给父组件' 我是传过去的数据03 '</button>

  <!-- <div>
    <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择性别" [(ngModel)]="selectedValue"
      nzDisabled='false' [nzDropdownStyle]="{padding:'10px',color:'yellow'}" [nzServerSearch]="false"
      (ngModelChange)="sss($event)" (nzScrollToBottom)="nzScrollToBottom()" (nzOpenChange)="nzOpenChange($event)"
      (nzOnSearch)="nzOnSearch($event)">
      <nz-option style="color: #f00;" *ngFor="let item of [{name:1,id:1},{name:2,id:2}]" nzLabel="{{item.name}}" nzValue="{{item.id}}">
      </nz-option>
    </nz-select>
  </div> -->

</div>